<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/partials/heads.ejs'); %>
  </head>
  <body>
    <%- include('../views/partials/header.ejs'); %>
    <h1 class="my-3 fw-bolder"><%= title %></h1>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Section</th>
          <th>Courseworks</th>
        </tr>
      
      </thead>
      <tbody>
        <% for (const course of courses) { %>
        <tr>
            <td><%= course.id %></td>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td><%= course.section %>n</td>
            <td><a class="btn btn-primary btn-sm" href="/courseworks/<%= course.id %>">View</a></td>
          
        </tr>
        <% } %>
      </tbody>
    </table>

    <%- include('../views/partials/footer.ejs'); %>
  </body>
</html>

